.SideMenu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;

  }

  .hamburger {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
  }

  .icon {
    font-size: 40px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(74 95 73 / 68%);
    /* background-color: #f1f1f1; */
    position: absolute;
    top: 60px;
    right: 0;
    width: 100px;
    text-align: right;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: black
  }

  li:last-child {
    border-bottom: none;
  }

.menu-option{
  color: black;
}
